* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  overflow: hidden;
}

h1,p,span {
  color: transparent;
  font-weight: 400;
  font-size: 6rem;
}

h1 {
  display: block;
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

p, span {
  display: inline-block;
}

p {
  padding-left: 2rem;
  font-size:10rem;
  text-shadow: 0 0 221px transparent;
  animation: showText 1s 1.5s 1 forwards ease-out;
font-family: 'Satisfy', cursive;
  position: relative;
}

p:after {
    content: "";
    width: 30px;
    background: #2eff2e;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 200px;
    border-radius: 100%;
    transform-origin: center center;
    box-shadow: 0 0 0px 103px #0c910c;
    box-sizing: border-box;
    transform: scale(0);
  animation: scaleBounce .3s 2s 1 linear forwards;
}

span {
  text-shadow: -48px -203px 150px #fff,132px -203px 150px #fff;
  animation: enterFromTop 1s ease-in 1 forwards, moveLetters .6s 2s alternate infinite ease-out;
  font-family: 'Kaushan Script', cursive;
}

span:first-child {
  animation-delay: -.3s;
}

span:nth-child(2) {
  animation-delay: .4s;
}

span:nth-child(3) {
  animation-delay: .7s;
}

h1:after {
  content: "";
  display: block;
  width: 200px;
  height:4px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: 160px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 32px 5px 0 #fff;
  animation: moveShadow 1s ease-in-out infinite alternate, moveElement 1s 2.5s ease-in infinite;
  opacity: 0;
  transform: translateX(-50px);
}

@keyframes scaleBounce {
  100% {
    transform: scale(1);
    opacity: 0.3;
    background: transparent;
    box-shadow: 0 0 20px 103px transparent;
  }
}

@keyframes moveLetters {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40px);
  }
}

@keyframes moveElement {
  30%, 50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(690px);
    opacity:0;
  }
}

@keyframes moveShadow {
  100% {
    box-shadow: -32px 5px 0 #fff;
  }
}

@keyframes enterFromTop {
  100% {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff;
  }
}

@keyframes showText {
  80% {
    text-shadow: 0 0 1px #fff;
  }
  
  100% {
    text-shadow: 0 0 1px #2eff2e, 0 0 20px #2eff2e;
  }
}

.btn-intro {
  font-family: Arial, Helvetica, sans-serif;
  background: red;
  z-index: 9999;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  text-decoration: none;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-intro:hover {
  background-color: #28a745;
}