@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

$font: 'Roboto', sans-serif;

$font_intro: 'Satisfy', cursive;

$fw-n: 400;
$fw-b: 900;
$fw-l: 300;



